.section-title {
    font-weight: 600;
}

.post {
    border: 1px solid rgb(0, 0, 0.3);
    width: 500px;
    display: flex;
    box-shadow: 0 0 15px rgb(0, 0, 0.5);
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 2px;
    margin-left: 2px;
}

.img-thumb {
    width: 200px;
    height: 150px;
    margin-left: 2px;
}

.img-thumb img {
    object-fit: cover;
}

.content {
    flex: 1;
    padding: 10px;
}

.content p.title {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
}

.btn-remove {
    padding: 12px 18px;
    background: red;
    color: white;
    border-radius: 4px;
    outline: none;
    margin-top: 10px;
}

.btn-remove:hover {
    cursor: pointer;
}

.form-add-post {
    box-shadow: 0 0 16px rgb(0, 0, 0.5);
    width: 500px;
    margin-left: 2px;
    padding: 10px;
    margin-bottom: 50px;
    border-radius: 4px;
}

.form-add-post label {
    display: block;
    font-size: 14px;
    color: #607048;
    font-weight: bold;
    margin-bottom: 10px;
}

.form-add-post input, .form-add-post textarea {
    outline: none;
    border: 1px solid #607048;
    padding: 12px;
    border-radius: 4px;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box;
    font-size: 12px;
    color: #607048;
}

.btn-submit {
    outline: none;
    border: 1px solid #2196f3;
    padding: 10px 30px;
    border-radius: 4px;
    color: #2196f3;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 10px;
}

